* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.page {
  font-family: "Roboto", sans-serif;
}

.wrap-logo {
  width: 148px;
  height: 37px;
}

.banner-container {
  min-height: 500px;
  padding-top: 30px;
  background-color: #81e4ed;
}

.header,
.footer {
  background-color: #e8ebf1;
}

.container {
  width: 1000px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 20px;
}

.arrow {
  width: 12px;
  height: 12px;
  margin-left: 6px;
}

.drop-list {
  display: flex;
  align-items: center;
}

.submenu {
  width: 200px;
  padding: 0 5px;
  position: absolute;
  top: 39px;
  display: none;
}

.submenu-item {
  position: relative;
  border-bottom: 1px solid #e7e7e7;
}

.submenu-item-link {
  display: block;
  padding: 0 10px;
  font-size: 13px;
  line-height: 2.7;
  color: #000;
}

.submenu li:last-child {
  padding-bottom: 7px;
}

.submenu-item-link:hover {
  color: #2aacc8;
}

.menu-item {
  position: relative;
}

.menu-item:hover .submenu {
  z-index: 3;
  background-color: #fff;
  display: block;
  border-bottom: 5px solid #2aacc8;
}

.menu-item-link {
  padding: 10px;
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 700;
}

.menu-item-link:hover {
  background-color: #fff;
  border-top: 5px solid #2aacc8;
  padding: 5px 10px 10px;
}

.menu-item:hover .menu-item-link {
  color: #2aacc8;
}

.slider {
  width: 1000px;
  height: 440px;
  margin: 0 auto;
  overflow: hidden;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-dots {
  position: absolute;
  bottom: 27px;
  font-size: 35px;
  line-height: 1.2;
}

.slick-dots li button:before {
  font-size: 40px;
  line-height: 1.2;
  opacity: .55;
  color: #363636;
}

.banner-top {
  margin: 0 auto;
  width: 1000px;
  height: 440px;
  background-color: #e05936;
  background-image: url(../img/cup.png), url(../img/comments.png);
  background-position: center center, right top;
  background-repeat: no-repeat;
}

.wrap-heading {
  width: 369px;
  height: 242px;
}

.heading {
  color: #fff;
  font-size: 50px;
  padding: 92px 0 0 62px;
}

.main-list-container {
  display: flex;
  padding: 30px 0;
  background-color: #e8ebf1;
  min-height: 300px;
}

.icon-cstm {
  color: #fff;
  padding: 10px;
  margin-right: 20px;
  font-size: 20px;
  border-radius: 50%;
  background-color: #2aacc8;
}

.main-list {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-list li {
  width: 220px;
  min-height: 186px;
}

.main-list-item p {
  font-size: 13px;
  line-height: 1.5;
}

.main-list-heading {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.5;
}

.list-text {
  padding-top: 20px;
  margin-bottom: 15px;
  color: #363636;
}

.read-link {
  position: relative;
  left: 15px;
  font-size: 13px;
  color: #2aacc8;
}

.read-link::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: -15px;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background: url(../img/arrow_rignt.svg) no-repeat 0 0/10px 10px;
}

.read-link:hover {
  color: #363636;
}

.banner-bottom-container {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 233px;
}

.banner-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 47px 40px 25px;
  width: 1000px;
  border: 1px solid #81e4ed;
  background-color: #e8fcfe;
}

.banner-bottom .text {
  max-width: 615px;
}

.text {
  font-size: 16px;
  line-height: 1.6;
  color: #363636;
}

.dwld-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 60px;
  border-radius: 8px;
  filter: drop-shadow(0 2px 1.5px rgba(0, 0, 0, 0.2));
  box-shadow: inset 0 2px 0.5px rgba(255, 255, 255, 0.1);
  background-image: linear-gradient(
    0deg,
    #29abc7 0%,
    #29abc7 0%,
    #5fcddd 15%,
    #71d9e5 50%,
    #81e3ed 100%
  );
  border: 1px solid #2aacc8;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #0d0707;
  font-weight: 700;
}

.dwld-button:hover {
  background: linear-gradient(
    180deg,
    rgba(41, 171, 199, 1) 0%,
    rgba(129, 227, 237, 1) 100%
  );
}

.icon-dwl-custom {
  padding-right: 20px;
  font-size: 35px;
  color: #fff;
}

.copyright {
  max-width: 644px;
}

.copyright p {
  font-size: 13px;
  line-height: 1.4;
  color: #363636;
}
